@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d0ecff;
  font-family: 'Quicksand', sans-serif;
  color: #1b2a49;
  min-height: 100vh;
}
